<div class="main-container">
  <div class="top-nav">
    <app-top-nav (outSubMenu)="onSubMenuReceived($event)"></app-top-nav>
  </div>
  <div class="sub-container">
    <div class="side-bar">
      <app-side-bar [data]="subMenuList"></app-side-bar>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <div class="doc-container">
      <app-documentation></app-documentation>
    </div>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>

</div>