/* You can add global styles to this file, and also import other style files */

.card {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
  
}
.main-card{
    border: 1px solid gray;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .card-header{
        background-color: gray;
    }
    .card-body{
        background-color: white;
    }
    .card-footer{
        background-color: gray;

    }
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


button {
    border: none;
    background-color: blue;
    color:#fff;
}